@keyframes button-hover {
    from { background: rgba(255, 255, 255, 0);}
    to { background: rgba(255, 255, 255, .25);}
}

.index-buttons {
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;

    &:hover {
        cursor: pointer;
        animation: button-hover 2s forwards;
    }
}