@footer-background-color: @black;
@font-color: #000; //black
@navigation-border: #000; //black
@nav-bg: #89C9E4;

@black: #000000;

@phone-max-width: 500px;
@tablet: ~"(min-width: 500px)"; //min width
@tablet-max-width: 800px; //max width

@desktop: ~"(min-width: 800px)";
@desktop-max-width: 1024px;